*{
  cursor: default;
}

.App {
  text-align: center;
  color: rgb(255, 255, 255);
}

nav{
  background-color: rgb(15, 111, 195);
  margin-bottom: .5em;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  color: white;
  border-bottom: .2em solid black;
  z-index: 10;
}

nav div{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav img{
  width: 2em;
  height: 2em;
  cursor: pointer;
}

nav a{
  display: flex;
  justify-content: center;
  align-items: center;
}


nav a:link { 
  text-decoration: none; 
  color: rgb(255, 255, 255);
  cursor: pointer;
}


nav a:visited { 
  text-decoration: none; 
  color: rgb(255, 255, 255);
}


nav a:hover { 
  text-decoration: none; 
  color: crimson
}


nav a:active { 
  text-decoration: none; 
  color: rgb(255, 255, 255);
}

#firstBox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstBoxContent{
  width: 50%;
}

span{
  color: crimson;
}

.firstBoxContent img{
  width: 50%;
  height: auto;
  border-radius: 50%;
  border: .25em dotted crimson;;
}

#aboutMe{
  padding: 1em;
}

#aboutMe h2{
  margin: .5em

}

#aboutMe p{
  margin: auto;
  width: 60%;
}

#skillSet{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}

.skill{
  width: 6em;
  height: 6em;
  height: auto;
  color: crimson;
  margin: 2em;
}

.skill img{
  width: 100%;
  background-color: aliceblue;
  border-radius: 50%;
}

.skill p{
color: white;
background-color: rgb(15, 111, 195);
border-radius: 1em;
}

#footer{
background-color: black;
margin-top: 2em;
padding: 1em;
}

.disc{
  margin: auto;
  width: 90%;
}

.projects{
  border-radius: 2em;
  width: 65%;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 10px #818181;
  margin: 2em auto;
  padding: .25em;
  position: relative;
  top: 0
}

.projects img, video{
  width: 75%;
  border-radius: 2em;
  transition: 1.5s;
  border: solid 2px crimson;
  z-index: 1;
}

.projects div{
  position: relative;
  top: 0
}

.projects h2{
color: crimson;
}

.projects a{
  color: rgb(15, 111, 195);
  margin: 1em;
  cursor: pointer;
}

.projects p{
  margin: 1em auto;
  width: 75%;
}

.projects a:link { 
  text-decoration: none; 
  color: rgb(15, 111, 195)
}


.projects a:visited { 
  text-decoration: none; 
  color: rgb(15, 111, 195)
}


.projects a:hover { 
  text-decoration: none; 
  color: crimson
}


.projects a:active { 
  text-decoration: none; 
  color: rgb(15, 111, 195)
}

video:hover{
  transform: scale(1.25);
  z-index: 100;
}

@media(max-width: 950px){
  .projects{
    width: 95%;
    padding: .25em;
  }
  .projects video{
    width: 80%;
  }
  .projects p{
    width: 80%;
  }
  #aboutMe p{
    width: 80%;
  }
  .firstBoxContent img{
    width: 75%;
  }
}